body{
	margin: 0;
	padding: 0;
	font-family: Century Gothic;
}
header{
	background-image:linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url(/images/movement.jpg);
	height:100vh;
	background-size: cover;
	background-position: center;
}
ul{
	float: right;
	list-style-type: none;
	margin-top: 25px;
}

ul li{
	display: inline-block;
}

ul li a{
	text-decoration: none;
	color: #fff;
	padding: 5px 20px;
	border: 1px solid transparent;
}
ul li a:hover{
	background-color: #fff;
	color:#000;
	transition: 0.6s ease;
}
ul li.active a{
	background-color: #fff;
	color:#000;
}
.logo img{
	float: left;
	width: 120px;
	height: 100px;
	padding: 5px 10px;
}
.main{
	max-width: 1200px;
	margin: auto;
}
.title{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
}
.title h1{
	color: #fff;
	font-size: 40px;
	padding: 0px 0px;
	width: 680px;
	height: 150px;
}
.button{
	position: absolute;
	top: 60%;
	left: 50%;
	transform: translate(-50%,-50%);
}
.btn{
	border: 1px solid #fff;
	padding: 10px 30px;
	color: #fff;
	text-decoration: none;
	transition: 0.6s ease;
	}
.btn:hover{
	background-color: #fff;
	color: #000;
	
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
nav{
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 90px;
    padding:10px 100px;
    box-sizing: border-box;
    transition: .3s;
}
nav.black{
    background: rgba(0,0,0,0.8);
    height: 90px;
    padding: 10px 100px;
}
nav .aawaaj{
    padding:22px 20px ;
    height: 80px;
    float: left;
    font-size:24px ;
    transition: .3s;
}
nav.black .aawaaj{
    color: #fff;
}
nav ul{
    list-style: none;
    float: right;
    margin:0;
    padding: 0;
    display: flex;
}

nav ul li{
    list-style: none;
}

nav ul li a{
    line-height: 80px;
    color: #151515;
    padding: 12px 30px;
    text-decoration: none;
    text-transform: uppercase;
    transition: .3s;
}

nav.black ul li a{
  color: #fff;
}

nav ul li a:focus{
    outline: none;
}

nav ul li a.active{
    background: #E2472f;
    color: #fff;
    border-radius: 6px;
}

section.sec1{
    width: 100%;
    height: 100vh;
    background: url(/images/img.jpg);
    background-position: center;
    background-size: cover;
}

.content{
    margin-top: 80px;
}

.content p{
    width:900px ;
    margin: 30px auto;
    text-align: justify;
    font-size: 20px;
    line-height: 30px;
}

.features{
	overflow: hidden;
	text-align: center;
	background: #34495e;
	padding: 60px;
}
.border{
	display: block;
	margin: auto;
	width: 160px;
	height: 3px;
	background: #3498db;
	margin-bottom: 40px;


}
.ps{
	margin-bottom: 40px;
}
.ps a{
	display: inline-block;
	margin: 0 30px;
	width: 160px;
	height: 160px;
	overflow: hidden;
	border-radius: 50%;
}

.ps a img{
	width: 100%;
	filter: grayscale(100%);
	transition: 0.4s all;
}

.ps a:hover > img{
	filter: none;
}

.section{
	width: 600px;
	margin: auto;
	font-size: 20px;
	color: white;
	text-align: justify;
	height: 0;
	overflow: hidden;
}

.section:target{
	height: auto;
}

.name{
	display: block;
	margin-bottom: 30px;
	text-align: center;
	text-transform: uppercase;
}

.border: {
	display: block;
	margin-bottom: 30px;
	text-align: center;
	text-transform: uppercase;
}

.Glimpse{
	overflow: hidden;
	text-align: center;
}


