body {
    margin: 0px;
    padding: 0px;
    font-family: sans-serif;
   
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
nav{
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 90px;
    padding:10px 100px;
    box-sizing: border-box;
    transition: .3s;
}
nav.black{
    background: rgba(0,0,0,0.8);
    height: 90px;
    padding: 10px 100px;
}
nav .aawaaj{
    padding:22px 20px ;
    height: 80px;
    float: left;
    font-size:24px ;
    transition: .3s;
}
nav.black .aawaaj{
    color: #fff;
}
nav ul{
    list-style: none;
    float: right;
    margin:0;
    padding: 0;
    display: flex;
}

nav ul li{
    list-style: none;
}

nav ul li a{
    line-height: 80px;
    color: #151515;
    padding: 12px 30px;
    text-decoration: none;
    text-transform: uppercase;
    transition: .3s;
}

nav.black ul li a{
  color: #fff;
}

nav ul li a:focus{
    outline: none;
}

nav ul li a.active{
    background: #E2472f;
    color: #fff;
    border-radius: 6px;
}

section.sec1{
    width: 100%;
    height: 100vh;
    background: url(/images/img.jpg);
    background-position: center;
    background-size: cover;
}

.content{
    margin-top: 80px;
}

.content p{
    width:900px ;
    margin: 30px auto;
    text-align: justify;
    font-size: 20px;
    line-height: 30px;
}

.footer {
 position: fixed;
 left: 0;
 bottom: 0;
 width: 100%;
 background-color: black;
 color: white;
 text-align: center;
}